USE [master]
GO
/****** Object:  Database [Houzing]    Script Date: 12/14/2018 7:27:18 PM ******/
CREATE DATABASE [Houzing]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Houzing', FILENAME = N'C:\Program Files (x86)\Plesk\Databases\MSSQL\MSSQL12.MSSQLSERVER2014\MSSQL\DATA\Houzing_28dc085a94ea41888c46b1338d11edff.mdf' , SIZE = 4288KB , MAXSIZE = 2048000KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Houzing_log', FILENAME = N'C:\Program Files (x86)\Plesk\Databases\MSSQL\MSSQL12.MSSQLSERVER2014\MSSQL\DATA\Houzing_72ecc59e5aa7409caea5fbb04e76047e.ldf' , SIZE = 1024KB , MAXSIZE = 2048000KB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Houzing].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Houzing]
GO
/****** Object:  User [bodoi304]    Script Date: 12/14/2018 7:27:18 PM ******/
CREATE USER [bodoi304] FOR LOGIN [bodoi304] WITH DEFAULT_SCHEMA=[bodoi304]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [bodoi304]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [bodoi304]
GO
ALTER ROLE [db_datareader] ADD MEMBER [bodoi304]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [bodoi304]
GO
/****** Object:  Schema [bodoi304]    Script Date: 12/14/2018 7:27:19 PM ******/
CREATE SCHEMA [bodoi304]
GO
/****** Object:  UserDefinedFunction [bodoi304].[IntegerCommaSplit]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [bodoi304].[IntegerCommaSplit](@ListofIds nvarchar(1000))
returns @rtn table (IntegerValue int)
AS
begin
While (Charindex(',',@ListofIds)>0)
Begin
    Insert Into @Rtn 
    Select ltrim(rtrim(Substring(@ListofIds,1,Charindex(',',@ListofIds)-1)))
    Set @ListofIds = Substring(@ListofIds,Charindex(',',@ListofIds)+len(','),len(@ListofIds))
end
Insert Into @Rtn 
    Select  ltrim(rtrim(@ListofIds))
return 
end
GO
/****** Object:  Table [bodoi304].[AccountLogs]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bodoi304].[AccountLogs](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Logtime] [datetime] NULL,
	[LogtimeEnd] [datetime] NULL,
	[MenuId] [varchar](50) NULL,
	[Fullname] [nvarchar](250) NULL,
 CONSTRAINT [PK_AccountLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [bodoi304].[Anh]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bodoi304].[Anh](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_IMAGE] [bigint] NULL,
	[IMAGE_THUMB_URL] [varchar](200) NULL,
	[IMAGE_URL] [varchar](200) NULL,
	[VITRI_IMAGE] [nvarchar](200) NULL,
	[TITLE_IMAGE] [nvarchar](200) NULL,
	[IMAGE_HOVER] [nvarchar](500) NULL,
	[Sap_xep] [bigint] NULL,
	[NGAY_TAO] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [bodoi304].[ApplicationRoleGroups]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bodoi304].[ApplicationRoleGroups](
	[RoleId] [int] NOT NULL,
	[GroupId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ApplicationRoleGroups] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC,
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [bodoi304].[ApplicationUserGroups]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bodoi304].[ApplicationUserGroups](
	[UserId] [bigint] NOT NULL,
	[GroupId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ApplicationUserGroups] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [bodoi304].[ApplicationUserRoles]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bodoi304].[ApplicationUserRoles](
	[UserId] [bigint] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ApplicationUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [bodoi304].[CategoryDocument]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bodoi304].[CategoryDocument](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NameCategory] [nvarchar](100) NULL,
	[CreateDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [bodoi304].[Document]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bodoi304].[Document](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_Category] [int] NULL,
	[NameDocument] [nvarchar](100) NULL,
	[PathDocument] [varchar](100) NULL,
	[CreateDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [bodoi304].[Groups]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bodoi304].[Groups](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Groups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [bodoi304].[Lich_Dat_Phong]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bodoi304].[Lich_Dat_Phong](
	[Ten_Khach_Hang] [nvarchar](60) NULL,
	[So_Dien_Thoai] [varchar](15) NULL,
	[Ngay_Sinh_Nhat] [date] NULL,
	[Noi_Song] [nvarchar](20) NULL,
	[So_Phong_Dat] [nvarchar](70) NULL,
	[Check_in] [date] NULL,
	[Check_out] [date] NULL,
	[Tong_tien_phong] [decimal](18, 2) NULL,
	[Tien_chuyen_khoan] [decimal](18, 2) NULL,
	[Trang_Thai_CK] [varchar](10) NULL,
	[Tien_Con_Phai_Tra] [decimal](18, 2) NULL,
	[Tong_so_dem] [int] NULL,
	[Quoc_Gia] [nvarchar](25) NULL,
	[Ghi_chu] [nvarchar](2000) NULL,
	[Thu_checkin] [nvarchar](25) NULL,
	[Th_checkout] [nvarchar](25) NULL,
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Nha_Nao] [int] NULL,
	[Nguoi_Nhap] [nvarchar](15) NULL,
	[TrangThai] [int] NULL,
	[NGAY_TAO] [datetime] NULL,
	[Trang_Thai_Dat] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [bodoi304].[MenuItemFunctions]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bodoi304].[MenuItemFunctions](
	[Item_ID] [varchar](50) NOT NULL,
	[Item_name] [nvarchar](150) NULL,
	[Path] [varchar](50) NULL,
	[Parent_Code] [varchar](50) NULL,
	[isMenu] [bit] NULL,
	[Order_No] [int] NULL,
	[ExistChild] [bit] NULL,
	[isDisplay] [bit] NULL,
 CONSTRAINT [PK_MenuItem] PRIMARY KEY CLUSTERED 
(
	[Item_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [bodoi304].[MenuItemRoles]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bodoi304].[MenuItemRoles](
	[MenuItem_ID] [varchar](50) NOT NULL,
	[Role_ID] [int] NOT NULL,
 CONSTRAINT [PK_MenuItemRole] PRIMARY KEY CLUSTERED 
(
	[MenuItem_ID] ASC,
	[Role_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [bodoi304].[Products]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bodoi304].[Products](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Category] [nvarchar](max) NULL,
	[PurchasePrice] [decimal](18, 2) NOT NULL,
	[RetailPrice] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [bodoi304].[Quan_Ly_Chi_Phi]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bodoi304].[Quan_Ly_Chi_Phi](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[So_Tien_Chi_Phi] [decimal](18, 0) NULL,
	[Ghi_Chu] [nvarchar](max) NULL,
	[Nha_Nao] [int] NULL,
	[Ngay_Nhap_Chi_Phi] [datetime] NULL,
	[Nguoi_Nhap] [nvarchar](15) NULL,
	[NGAY_TAO] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [bodoi304].[Quan_Ly_Ghi_No]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bodoi304].[Quan_Ly_Ghi_No](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[So_Tien_No] [decimal](18, 0) NULL,
	[Ghi_Chu] [nvarchar](max) NULL,
	[Nha_Nao] [int] NULL,
	[Nguoi_Nhap] [nvarchar](15) NULL,
	[NGAY_TAO] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [bodoi304].[QuanLyAnhVideo]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bodoi304].[QuanLyAnhVideo](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[IS_IMAGE_VIDEO] [smallint] NULL,
	[QUOTE] [nvarchar](500) NULL,
	[NAME] [nvarchar](500) NULL,
	[ICON_VIDEO_IMAGE] [varchar](100) NULL,
	[DURATION_VIDEO] [varchar](20) NULL,
	[DIA_DIEM] [smallint] NULL,
	[LOAI_VIDEO] [smallint] NULL,
	[LOAI_IMAGE] [smallint] NULL,
	[THU_TU_UU_TIEN] [bigint] NULL,
	[NGAY_TAO] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [bodoi304].[Roles]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bodoi304].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[DateCreate] [date] NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [bodoi304].[User]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bodoi304].[User](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[User_Name] [nvarchar](70) NULL,
	[Password] [varchar](30) NULL,
	[User_Role] [int] NULL,
	[Function_Role] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [bodoi304].[Users]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bodoi304].[Users](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Id_Login] [varchar](50) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[EmailConfirmed] [bit] NULL,
	[Password] [varchar](50) NULL,
	[PhoneNumber] [varchar](15) NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Department] [nvarchar](100) NULL,
	[Position] [nvarchar](150) NULL,
	[CreateDate] [date] NULL,
	[ManageHome] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [bodoi304].[VIDEO]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bodoi304].[VIDEO](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_VIDEO] [bigint] NULL,
	[VIDEO_URL] [varchar](200) NULL,
	[MAIN_HOVER_TEXT] [nvarchar](300) NULL,
	[NGAY_TAO] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [bodoi304].[Anh] ON 

INSERT [bodoi304].[Anh] ([ID], [ID_IMAGE], [IMAGE_THUMB_URL], [IMAGE_URL], [VITRI_IMAGE], [TITLE_IMAGE], [IMAGE_HOVER], [Sap_xep], [NGAY_TAO]) VALUES (13, 10, N'/ImageAlbum/DaLat/a15kbquf.jpg', N'/ImageAlbum/DaLat/a15kbquf.jpg', N'Đà Lạt, Việt Nam', N'Phòng Y1 Yoko', N'Đà Lạt', 9999999, CAST(N'2018-03-18T11:13:11.120' AS DateTime))
INSERT [bodoi304].[Anh] ([ID], [ID_IMAGE], [IMAGE_THUMB_URL], [IMAGE_URL], [VITRI_IMAGE], [TITLE_IMAGE], [IMAGE_HOVER], [Sap_xep], [NGAY_TAO]) VALUES (14, 10, N'/ImageAlbum/DaLat/n2i1wnpo.jpg', N'/ImageAlbum/DaLat/n2i1wnpo.jpg', N'Đà Lạt, Việt Nam', N'Phòng Y1 Yoko', N'Đà Lạt', 9999999, CAST(N'2018-03-18T11:13:11.120' AS DateTime))
INSERT [bodoi304].[Anh] ([ID], [ID_IMAGE], [IMAGE_THUMB_URL], [IMAGE_URL], [VITRI_IMAGE], [TITLE_IMAGE], [IMAGE_HOVER], [Sap_xep], [NGAY_TAO]) VALUES (15, 10, N'/ImageAlbum/DaLat/4ouhnwdu.jpg', N'/ImageAlbum/DaLat/4ouhnwdu.jpg', N'Đà Lạt, Việt Nam', N'Phòng Y1 Yoko', N'Đà Lạt', 9999999, CAST(N'2018-03-18T11:13:11.120' AS DateTime))
GO
SET IDENTITY_INSERT [bodoi304].[Anh] OFF
INSERT [bodoi304].[ApplicationUserRoles] ([UserId], [RoleId]) VALUES (18, 2)
INSERT [bodoi304].[ApplicationUserRoles] ([UserId], [RoleId]) VALUES (20, 6)
INSERT [bodoi304].[ApplicationUserRoles] ([UserId], [RoleId]) VALUES (24, 7)
SET IDENTITY_INSERT [bodoi304].[CategoryDocument] ON 

INSERT [bodoi304].[CategoryDocument] ([ID], [NameCategory], [CreateDate]) VALUES (4, N'câu hỏi thường gặp ở căn hộ SAFA HOUZING ', NULL)
INSERT [bodoi304].[CategoryDocument] ([ID], [NameCategory], [CreateDate]) VALUES (5, N'HAPPI HOUZING ', NULL)
SET IDENTITY_INSERT [bodoi304].[CategoryDocument] OFF
SET IDENTITY_INSERT [bodoi304].[Document] ON 

INSERT [bodoi304].[Document] ([ID], [ID_Category], [NameDocument], [PathDocument], [CreateDate]) VALUES (14, 4, N'Safa câu hỏi thường gặp', N'/Admin/DaoTaoAdmin/Document/Safacauhoithuonggap.pdf', CAST(N'2018-08-13T21:45:11.433' AS DateTime))
INSERT [bodoi304].[Document] ([ID], [ID_Category], [NameDocument], [PathDocument], [CreateDate]) VALUES (15, 5, N'thông tin happi houzing ', N'/Admin/DaoTaoAdmin/Document/Happi House.pdf', CAST(N'2018-08-13T22:03:05.660' AS DateTime))
SET IDENTITY_INSERT [bodoi304].[Document] OFF
SET IDENTITY_INSERT [bodoi304].[Lich_Dat_Phong] ON 

INSERT [bodoi304].[Lich_Dat_Phong] ([Ten_Khach_Hang], [So_Dien_Thoai], [Ngay_Sinh_Nhat], [Noi_Song], [So_Phong_Dat], [Check_in], [Check_out], [Tong_tien_phong], [Tien_chuyen_khoan], [Trang_Thai_CK], [Tien_Con_Phai_Tra], [Tong_so_dem], [Quoc_Gia], [Ghi_chu], [Thu_checkin], [Th_checkout], [ID], [Nha_Nao], [Nguoi_Nhap], [TrangThai], [NGAY_TAO], [Trang_Thai_Dat]) VALUES (N'My Vũ', N'Ko', NULL, N'Ko', N'1 p2', CAST(N'2017-12-05' AS Date), CAST(N'2017-12-07' AS Date), NULL, NULL, N'', NULL, NULL, N'', N'', N'Thứ Ba', N'Thứ Năm', 35, 1, NULL, 0, CAST(N'2018-03-18T11:16:01.667' AS DateTime), 0)
GO
SET IDENTITY_INSERT [bodoi304].[Lich_Dat_Phong] OFF
INSERT [bodoi304].[MenuItemFunctions] ([Item_ID], [Item_name], [Path], [Parent_Code], [isMenu], [Order_No], [ExistChild], [isDisplay]) VALUES (N'QLAVDEO', N'Quản Lý ảnh video', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [bodoi304].[MenuItemFunctions] ([Item_ID], [Item_name], [Path], [Parent_Code], [isMenu], [Order_No], [ExistChild], [isDisplay]) VALUES (N'QLDN', N'Quản lý đăng nhập', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [bodoi304].[MenuItemFunctions] ([Item_ID], [Item_name], [Path], [Parent_Code], [isMenu], [Order_No], [ExistChild], [isDisplay]) VALUES (N'QLDP', N'Quản lý đặt phòng', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [bodoi304].[MenuItemRoles] ([MenuItem_ID], [Role_ID]) VALUES (N'QLDP', 6)
INSERT [bodoi304].[MenuItemRoles] ([MenuItem_ID], [Role_ID]) VALUES (N'QLDP', 7)
INSERT [bodoi304].[MenuItemRoles] ([MenuItem_ID], [Role_ID]) VALUES (N'QLTC', 2)
SET IDENTITY_INSERT [bodoi304].[Quan_Ly_Chi_Phi] ON 

INSERT [bodoi304].[Quan_Ly_Chi_Phi] ([ID], [So_Tien_Chi_Phi], [Ghi_Chu], [Nha_Nao], [Ngay_Nhap_Chi_Phi], [Nguoi_Nhap], [NGAY_TAO]) VALUES (12, CAST(3000 AS Decimal(18, 0)), N'*Tháng 11*

(1) Chi phí Cố định : 
-tiền nhân viên dọn dẹp: 2tr. 
-Tiền 22% hoa hồng Houzing: 4,3tr
-Net:100k
-tiền lãi gửi tiết kiệm 7%= 2tr
-


(2) Chi Phí biến đổi :
- bình nước : 90k
-điện : 700k 
-nước 110k', 4, CAST(N'2018-12-03T00:00:00.000' AS DateTime), N'admin', CAST(N'2018-12-14T15:34:48.490' AS DateTime))
SET IDENTITY_INSERT [bodoi304].[Quan_Ly_Chi_Phi] OFF
SET IDENTITY_INSERT [bodoi304].[Quan_Ly_Ghi_No] ON 

INSERT [bodoi304].[Quan_Ly_Ghi_No] ([ID], [So_Tien_No], [Ghi_Chu], [Nha_Nao], [Nguoi_Nhap], [NGAY_TAO]) VALUES (6, CAST(140000 AS Decimal(18, 0)), N'Hiếu book 5 đêm ở cc nhưng rút còn 4 đêm , giá 700k/1 đêm, Tuấn nợ 140k', 4, N'tina', CAST(N'2018-07-01T01:17:49.773' AS DateTime))
INSERT [bodoi304].[Quan_Ly_Ghi_No] ([ID], [So_Tien_No], [Ghi_Chu], [Nha_Nao], [Nguoi_Nhap], [NGAY_TAO]) VALUES (8, CAST(1750 AS Decimal(18, 0)), N'khách hàng ngày 5/10 - Trang chi trả cho khách hàng an an cho khách ở 1 đêm ở thị trấn  trước là : 1tr750 ( Safa đã trả 500)', 1, N'admin', CAST(N'2018-11-03T16:10:16.390' AS DateTime))
INSERT [bodoi304].[Quan_Ly_Ghi_No] ([ID], [So_Tien_No], [Ghi_Chu], [Nha_Nao], [Nguoi_Nhap], [NGAY_TAO]) VALUES (9, CAST(2250 AS Decimal(18, 0)), N'thúy ngô ngày tạo 20/11 ở 3 đêm y2 ,và y3 , ngày book  26.27.28/11 out 29/11
khách này đổi ngày nhưng chưa rõ nên xóa trên web', 3, N'admin', CAST(N'2018-11-24T16:36:15.173' AS DateTime))
SET IDENTITY_INSERT [bodoi304].[Quan_Ly_Ghi_No] OFF
SET IDENTITY_INSERT [bodoi304].[QuanLyAnhVideo] ON 

INSERT [bodoi304].[QuanLyAnhVideo] ([ID], [IS_IMAGE_VIDEO], [QUOTE], [NAME], [ICON_VIDEO_IMAGE], [DURATION_VIDEO], [DIA_DIEM], [LOAI_VIDEO], [LOAI_IMAGE], [THU_TU_UU_TIEN], [NGAY_TAO]) VALUES (10, 1, N'Yoko houzing một căn hộ nhỏ xinh nằm giữa trung tâm Đà Lạt', N'Phòng Y1 của Yoko Houzing', N'/ImageAlbum/DaLat/bkru2uk2.jpg', N'', 1, 0, 1, 999999, CAST(N'2018-03-18T11:12:55.393' AS DateTime))
INSERT [bodoi304].[QuanLyAnhVideo] ([ID], [IS_IMAGE_VIDEO], [QUOTE], [NAME], [ICON_VIDEO_IMAGE], [DURATION_VIDEO], [DIA_DIEM], [LOAI_VIDEO], [LOAI_IMAGE], [THU_TU_UU_TIEN], [NGAY_TAO]) VALUES (11, 1, N'Yoko houzing một căn hộ nhỏ xinh nằm giữa trung tâm Đà Lạt', N'Phòng Y2 của Yoko Houzing', N'/ImageAlbum/DaLat/xbdyorm4.jpg', N'', 1, 0, 1, 999999, CAST(N'2018-03-18T11:12:55.393' AS DateTime))
INSERT [bodoi304].[QuanLyAnhVideo] ([ID], [IS_IMAGE_VIDEO], [QUOTE], [NAME], [ICON_VIDEO_IMAGE], [DURATION_VIDEO], [DIA_DIEM], [LOAI_VIDEO], [LOAI_IMAGE], [THU_TU_UU_TIEN], [NGAY_TAO]) VALUES (12, 1, N'Yoko houzing một căn hộ nhỏ xinh nằm giữa trung tâm Đà Lạt', N'Phòng Y3 của Yoko Houzing', N'/ImageAlbum/DaLat/dxmysqsk.jpg', N'', 1, 0, 1, 999999, CAST(N'2018-03-18T11:12:55.393' AS DateTime))
SET IDENTITY_INSERT [bodoi304].[QuanLyAnhVideo] OFF
SET IDENTITY_INSERT [bodoi304].[Roles] ON 

INSERT [bodoi304].[Roles] ([Id], [Name], [Description], [DateCreate]) VALUES (2, N'Quản lý tina', N'quản lý nhà tina', NULL)
INSERT [bodoi304].[Roles] ([Id], [Name], [Description], [DateCreate]) VALUES (6, N'Quản lý nhà anan', N'', CAST(N'2018-09-12' AS Date))
INSERT [bodoi304].[Roles] ([Id], [Name], [Description], [DateCreate]) VALUES (7, N'Quản lý samsam', N'', CAST(N'2018-09-13' AS Date))
SET IDENTITY_INSERT [bodoi304].[Roles] OFF
SET IDENTITY_INSERT [bodoi304].[User] ON 

INSERT [bodoi304].[User] ([ID], [User_Name], [Password], [User_Role], [Function_Role]) VALUES (1, N'admin', N'houzing888', 15, 7)
INSERT [bodoi304].[User] ([ID], [User_Name], [Password], [User_Role], [Function_Role]) VALUES (2, N'tina', N'houzing888', 8, 5)
INSERT [bodoi304].[User] ([ID], [User_Name], [Password], [User_Role], [Function_Role]) VALUES (3, N'lala', N'houzing888', 16, 5)
SET IDENTITY_INSERT [bodoi304].[User] OFF
SET IDENTITY_INSERT [bodoi304].[Users] ON 

INSERT [bodoi304].[Users] ([Id], [Id_Login], [Email], [EmailConfirmed], [Password], [PhoneNumber], [LockoutEndDateUtc], [LockoutEnabled], [UserName], [FirstName], [LastName], [Department], [Position], [CreateDate], [ManageHome]) VALUES (17, N'admin', N'hoangquanghuy1510@gmail.com', 0, N'L/CWapTYJTipjylfiY+1pOPC1SMYb4+rys7FHFFcdyA=', N'', NULL, 0, N'hoangquanghuy', NULL, NULL, N'', N'', CAST(N'2018-05-01' AS Date), 31)
INSERT [bodoi304].[Users] ([Id], [Id_Login], [Email], [EmailConfirmed], [Password], [PhoneNumber], [LockoutEndDateUtc], [LockoutEnabled], [UserName], [FirstName], [LastName], [Department], [Position], [CreateDate], [ManageHome]) VALUES (18, N'tina0430', N'', NULL, N'C0KkfmtiKK3E42YzbXb39rVx7LLWXmZ7+hWkads/Z0U=', N'', NULL, 0, N'', NULL, NULL, N'', N'', NULL, 8)
INSERT [bodoi304].[Users] ([Id], [Id_Login], [Email], [EmailConfirmed], [Password], [PhoneNumber], [LockoutEndDateUtc], [LockoutEnabled], [UserName], [FirstName], [LastName], [Department], [Position], [CreateDate], [ManageHome]) VALUES (19, N'daotao', N'', NULL, N'0+YCGTW1TiYJ3vJgYSPbWs+vE8lC40rr0urP8ATh2A0=', N'', NULL, 0, N'', NULL, NULL, N'', N'', NULL, 0)
SET IDENTITY_INSERT [bodoi304].[Users] OFF
SET IDENTITY_INSERT [bodoi304].[VIDEO] ON 

INSERT [bodoi304].[VIDEO] ([ID], [ID_VIDEO], [VIDEO_URL], [MAIN_HOVER_TEXT], [NGAY_TAO]) VALUES (2, 13, N'https://www.youtube.com/embed/dI8EkCWzcOU', N'KẾT NỐI -Chính là ngọn nguồn của kinh doanh', CAST(N'2018-03-18T11:13:05.863' AS DateTime))
INSERT [bodoi304].[VIDEO] ([ID], [ID_VIDEO], [VIDEO_URL], [MAIN_HOVER_TEXT], [NGAY_TAO]) VALUES (3, 19, N'https://www.youtube.com/embed/Z30bOajP22k', N'Kỹ năng xây dựng mạng lưới Homestay chuyên nghiệp phần 1', CAST(N'2018-03-18T11:13:05.863' AS DateTime))
INSERT [bodoi304].[VIDEO] ([ID], [ID_VIDEO], [VIDEO_URL], [MAIN_HOVER_TEXT], [NGAY_TAO]) VALUES (4, 20, N'https://www.youtube.com/embed/ZPqqXaSlT8s', N'Kỹ năng xây dựng mạng lưới Homestay chuyên nghiệp phần 2', CAST(N'2018-03-18T11:13:05.863' AS DateTime))
SET IDENTITY_INSERT [bodoi304].[VIDEO] OFF
/****** Object:  Index [ID_IMAGE_IDX]    Script Date: 12/14/2018 7:27:19 PM ******/
CREATE NONCLUSTERED INDEX [ID_IMAGE_IDX] ON [bodoi304].[Anh]
(
	[ID_IMAGE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_INOUT]    Script Date: 12/14/2018 7:27:19 PM ******/
CREATE NONCLUSTERED INDEX [IDX_INOUT] ON [bodoi304].[Lich_Dat_Phong]
(
	[Check_in] ASC,
	[Check_out] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_Nha_Nao]    Script Date: 12/14/2018 7:27:19 PM ******/
CREATE NONCLUSTERED INDEX [IDX_Nha_Nao] ON [bodoi304].[Lich_Dat_Phong]
(
	[Nha_Nao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [NonClusteredIndex-20180601-003024]    Script Date: 12/14/2018 7:27:19 PM ******/
CREATE NONCLUSTERED INDEX [NonClusteredIndex-20180601-003024] ON [bodoi304].[Lich_Dat_Phong]
(
	[NGAY_TAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Roles__737584F66989897C]    Script Date: 12/14/2018 7:27:19 PM ******/
ALTER TABLE [bodoi304].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Users__D0D49C6D49D078EB]    Script Date: 12/14/2018 7:27:19 PM ******/
ALTER TABLE [bodoi304].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Id_Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ID_VIDEO]    Script Date: 12/14/2018 7:27:19 PM ******/
CREATE NONCLUSTERED INDEX [ID_VIDEO] ON [bodoi304].[VIDEO]
(
	[ID_VIDEO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [bodoi304].[Anh] ADD  DEFAULT (getdate()) FOR [NGAY_TAO]
GO
ALTER TABLE [bodoi304].[CategoryDocument] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [bodoi304].[Document] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [bodoi304].[Lich_Dat_Phong] ADD  DEFAULT ((0)) FOR [TrangThai]
GO
ALTER TABLE [bodoi304].[Lich_Dat_Phong] ADD  DEFAULT (getdate()) FOR [NGAY_TAO]
GO
ALTER TABLE [bodoi304].[Lich_Dat_Phong] ADD  DEFAULT ((0)) FOR [Trang_Thai_Dat]
GO
ALTER TABLE [bodoi304].[QuanLyAnhVideo] ADD  DEFAULT (getdate()) FOR [NGAY_TAO]
GO
ALTER TABLE [bodoi304].[Roles] ADD  DEFAULT (getdate()) FOR [DateCreate]
GO
ALTER TABLE [bodoi304].[Users] ADD  DEFAULT ((0)) FOR [EmailConfirmed]
GO
ALTER TABLE [bodoi304].[Users] ADD  CONSTRAINT [DF_Users_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [bodoi304].[VIDEO] ADD  DEFAULT (getdate()) FOR [NGAY_TAO]
GO
ALTER TABLE [bodoi304].[ApplicationRoleGroups]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ApplicationRoleGroups_dbo.Groups_GroupId] FOREIGN KEY([GroupId])
REFERENCES [bodoi304].[Groups] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [bodoi304].[ApplicationRoleGroups] CHECK CONSTRAINT [FK_dbo.ApplicationRoleGroups_dbo.Groups_GroupId]
GO
ALTER TABLE [bodoi304].[ApplicationRoleGroups]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ApplicationRoleGroups_dbo.Users_Roles_Id] FOREIGN KEY([RoleId])
REFERENCES [bodoi304].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [bodoi304].[ApplicationRoleGroups] CHECK CONSTRAINT [FK_dbo.ApplicationRoleGroups_dbo.Users_Roles_Id]
GO
ALTER TABLE [bodoi304].[ApplicationUserGroups]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ApplicationUserGroups_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [bodoi304].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [bodoi304].[ApplicationUserGroups] CHECK CONSTRAINT [FK_dbo.ApplicationUserGroups_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [bodoi304].[ApplicationUserGroups]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ApplicationUserGroups_dbo.Groups_GroupId] FOREIGN KEY([GroupId])
REFERENCES [bodoi304].[Groups] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [bodoi304].[ApplicationUserGroups] CHECK CONSTRAINT [FK_dbo.ApplicationUserGroups_dbo.Groups_GroupId]
GO
ALTER TABLE [bodoi304].[ApplicationUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRoles_dbo.Users_IdentityUser_Id] FOREIGN KEY([RoleId])
REFERENCES [bodoi304].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [bodoi304].[ApplicationUserRoles] CHECK CONSTRAINT [FK_dbo.UserRoles_dbo.Users_IdentityUser_Id]
GO
ALTER TABLE [bodoi304].[ApplicationUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRoles_dbo.Users_Role_Id] FOREIGN KEY([UserId])
REFERENCES [bodoi304].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [bodoi304].[ApplicationUserRoles] CHECK CONSTRAINT [FK_dbo.UserRoles_dbo.Users_Role_Id]
GO
ALTER TABLE [bodoi304].[Document]  WITH CHECK ADD FOREIGN KEY([ID_Category])
REFERENCES [bodoi304].[CategoryDocument] ([ID])
GO
ALTER TABLE [bodoi304].[Document]  WITH CHECK ADD FOREIGN KEY([ID_Category])
REFERENCES [bodoi304].[CategoryDocument] ([ID])
GO
ALTER TABLE [bodoi304].[Document]  WITH CHECK ADD FOREIGN KEY([ID_Category])
REFERENCES [bodoi304].[CategoryDocument] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [bodoi304].[MenuItemRoles]  WITH CHECK ADD  CONSTRAINT [FK_MenuItemRoles_MenuItemFunctions] FOREIGN KEY([MenuItem_ID])
REFERENCES [bodoi304].[MenuItemFunctions] ([Item_ID])
ON DELETE CASCADE
GO
ALTER TABLE [bodoi304].[MenuItemRoles] CHECK CONSTRAINT [FK_MenuItemRoles_MenuItemFunctions]
GO
ALTER TABLE [bodoi304].[MenuItemRoles]  WITH CHECK ADD  CONSTRAINT [FK_MenuItemRoles_Roles] FOREIGN KEY([Role_ID])
REFERENCES [bodoi304].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [bodoi304].[MenuItemRoles] CHECK CONSTRAINT [FK_MenuItemRoles_Roles]
GO
/****** Object:  StoredProcedure [bodoi304].[Anh_Deleteitem]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [bodoi304].[Anh_Deleteitem]
 @ID bigint
as
select * from Anh where ID=@ID 
Delete Anh where ID=@ID 

GO
/****** Object:  StoredProcedure [bodoi304].[Anh_insertItem]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [bodoi304].[Anh_insertItem]
  @ID_IMAGE bigint,
           @IMAGE_THUMB_URL varchar(200),
           @IMAGE_URL varchar(200), 
           @VITRI_IMAGE  nvarchar(200), 
           @TITLE_IMAGE  nvarchar(200), 
           @IMAGE_HOVER nvarchar(500)
as

INSERT INTO [bodoi304].[Anh]
           ([ID_IMAGE]
           ,[IMAGE_THUMB_URL]
           ,[IMAGE_URL]
           ,[VITRI_IMAGE]
           ,[TITLE_IMAGE]
           ,[IMAGE_HOVER]
		   ,Ngay_Tao)
     VALUES
          ( @ID_IMAGE,
           @IMAGE_THUMB_URL,
           @IMAGE_URL, 
           @VITRI_IMAGE, 
           @TITLE_IMAGE, 
           @IMAGE_HOVER,
		   getdate())
		   select @@identity
GO
/****** Object:  StoredProcedure [bodoi304].[Anh_Selectitem]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [bodoi304].[Anh_Selectitem]
 @ID_IMAGE bigint
as
select * from Anh where ID_IMAGE=@ID_IMAGE order by Sap_xep

GO
/****** Object:  StoredProcedure [bodoi304].[Anh_SelectitemID]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [bodoi304].[Anh_SelectitemID]
 @ID bigint
as
select * from Anh where ID=@ID 

GO
/****** Object:  StoredProcedure [bodoi304].[Anh_updateItem]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE procedure [bodoi304].[Anh_updateItem]
		   @ID bigint,
  @ID_IMAGE bigint,
           @VITRI_IMAGE  nvarchar(200), 
           @TITLE_IMAGE  nvarchar(200), 
           @IMAGE_HOVER nvarchar(500)
as

UPDATE [bodoi304].[Anh]
   SET [ID_IMAGE] = @ID_IMAGE
      ,[VITRI_IMAGE] =@VITRI_IMAGE
      ,[TITLE_IMAGE] = @TITLE_IMAGE
      ,[IMAGE_HOVER] =@IMAGE_HOVER
 WHERE ID_IMAGE is NULL

GO
/****** Object:  StoredProcedure [bodoi304].[Anh_updateItemSua]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE procedure [bodoi304].[Anh_updateItemSua]
		   @ID bigint,
           @VITRI_IMAGE  nvarchar(200), 
           @TITLE_IMAGE  nvarchar(200), 
           @IMAGE_HOVER nvarchar(500),
		   @IMAGE_URL varchar(200),
		      @Sap_xep bigint
as

UPDATE [bodoi304].[Anh]
   SET [VITRI_IMAGE] =@VITRI_IMAGE
      ,[TITLE_IMAGE] = @TITLE_IMAGE
      ,[IMAGE_HOVER] =@IMAGE_HOVER
	  ,IMAGE_URL =@IMAGE_URL
	  ,Sap_xep=@Sap_xep
 WHERE ID = @ID


GO
/****** Object:  StoredProcedure [bodoi304].[ApplicationUserRoles_DeleteItem]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [bodoi304].[ApplicationUserRoles_DeleteItem]
@UserId bigint,
@RoleID int
as
delete ApplicationUserRoles
          where UserId=@UserId and RoleID = @RoleID





GO
/****** Object:  StoredProcedure [bodoi304].[ApplicationUserRoles_InsertItem]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [bodoi304].[ApplicationUserRoles_InsertItem]
@UserId bigint,
@RoleID int
as
INSERT INTO [bodoi304].ApplicationUserRoles
           (UserID
           ,RoleID)
     VALUES
           (@UserId
           ,@RoleID)





GO
/****** Object:  StoredProcedure [bodoi304].[Check_User]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [bodoi304].[Check_User]
 @User_Name nvarchar(70),
 @Password varchar(30)
as
select * from [User] where User_Name=@User_Name and Password=@Password

GO
/****** Object:  StoredProcedure [bodoi304].[delete_lich_dat_phong]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [bodoi304].[delete_lich_dat_phong]
@ID bigint
as
delete Lich_Dat_Phong where 
ID= @ID
GO
/****** Object:  StoredProcedure [bodoi304].[Insert_QuanLyAnhVideo]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [bodoi304].[Insert_QuanLyAnhVideo]
           @IS_IMAGE_VIDEO smallint,
           @QUOTE nvarchar(500),
           @NAME nvarchar(500),
           @ICON_VIDEO_IMAGE varchar(100),
           @DURATION_VIDEO varchar(20),
           @DIA_DIEM smallint,
           @LOAI_VIDEO smallint,
           @LOAI_IMAGE smallint,
           @THU_TU_UU_TIEN bigint
		   as
INSERT INTO [bodoi304].[QuanLyAnhVideo]
           ([IS_IMAGE_VIDEO]
           ,[QUOTE]
           ,[NAME]
           ,[ICON_VIDEO_IMAGE]
           ,[DURATION_VIDEO]
           ,[DIA_DIEM]
           ,[LOAI_VIDEO]
           ,[LOAI_IMAGE]
           ,[THU_TU_UU_TIEN])
     VALUES
           (@IS_IMAGE_VIDEO,
           @QUOTE,
           @NAME,
           @ICON_VIDEO_IMAGE ,
           @DURATION_VIDEO,
           @DIA_DIEM,
           @LOAI_VIDEO,
           @LOAI_IMAGE,
           @THU_TU_UU_TIEN)

		   select @@identity

GO
/****** Object:  StoredProcedure [bodoi304].[Lich_Dat_Phong_InsertItem]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [bodoi304].[Lich_Dat_Phong_InsertItem]
 @Ten_Khach_Hang nvarchar(60)
           ,@So_Dien_Thoai varchar(15)
           ,@Ngay_Sinh_Nhat date
           ,@Noi_Song nvarchar(20)
           ,@So_Phong_Dat nvarchar(70)
           ,@Check_in date
           ,@Check_out date
           ,@Tong_tien_phong decimal(18,2)
           ,@Tien_chuyen_khoan decimal(18,2)
           ,@Trang_Thai_CK varchar(10)
           ,@Tien_Con_Phai_Tra decimal(18,2)
           ,@Tong_so_dem int
           ,@Quoc_Gia nvarchar(25)
           ,@Ghi_chu nvarchar(2000)
           ,@Thu_checkin nvarchar(25)
           ,@Th_checkout nvarchar(25)
           ,@Nha_Nao int
		    ,@Nguoi_Nhap nvarchar(15)
			,@TrangThai int
				,@Trang_Thai_Dat int
as
INSERT INTO [Lich_Dat_Phong]
           ([Ten_Khach_Hang]
           ,[So_Dien_Thoai]
           ,[Ngay_Sinh_Nhat]
           ,[Noi_Song]
           ,[So_Phong_Dat]
           ,[Check_in]
           ,[Check_out]
           ,[Tong_tien_phong]
           ,[Tien_chuyen_khoan]
           ,[Trang_Thai_CK]
           ,[Tien_Con_Phai_Tra]
           ,[Tong_so_dem]
           ,[Quoc_Gia]
           ,[Ghi_chu]
           ,[Thu_checkin]
           ,[Th_checkout]
           ,[Nha_Nao]
		   ,Nguoi_Nhap,TrangThai ,Ngay_tao,Trang_Thai_Dat)
     VALUES
           (@Ten_Khach_Hang
           ,@So_Dien_Thoai
           ,@Ngay_Sinh_Nhat
           ,@Noi_Song
           ,@So_Phong_Dat
           ,@Check_in
           ,@Check_out
           ,@Tong_tien_phong
           ,@Tien_chuyen_khoan
           ,@Trang_Thai_CK
           ,@Tien_Con_Phai_Tra
           ,@Tong_so_dem
           ,@Quoc_Gia
           ,@Ghi_chu
           ,@Thu_checkin
           ,@Th_checkout
           ,@Nha_Nao
		   ,@Nguoi_Nhap,@TrangThai,getdate(),@Trang_Thai_Dat)

		   select @@identity


GO
/****** Object:  StoredProcedure [bodoi304].[MenuItemRoles_DeleteByRoleID]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [bodoi304].[MenuItemRoles_DeleteByRoleID]
@IDRole int
as
delete MenuItemRoles where Role_ID=@IDRole


GO
/****** Object:  StoredProcedure [bodoi304].[MenuItemRoles_InsertItem]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [bodoi304].[MenuItemRoles_InsertItem]
@MenuItem_ID varchar(50),
@Role_ID int
as
INSERT INTO [bodoi304].[MenuItemRoles]
           ([MenuItem_ID]
           ,[Role_ID])
     VALUES
           (@MenuItem_ID
           ,@Role_ID)





GO
/****** Object:  StoredProcedure [bodoi304].[qlchiphi_select_item_ngaytao_exact]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [bodoi304].[qlchiphi_select_item_ngaytao_exact]
@ngaytao_tu date,
@ngaytao_den date,
@NhaNao int
as
select * from Quan_Ly_Chi_Phi where 
Ngay_Nhap_Chi_Phi >= @ngaytao_tu and Ngay_Nhap_Chi_Phi < @ngaytao_den 
and Nha_Nao = @NhaNao



GO
/****** Object:  StoredProcedure [bodoi304].[QuanLyVideo_deleteById]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [bodoi304].[QuanLyVideo_deleteById]
@ID bigint
as
select * from QuanLyAnhVideo where ID= @ID
delete QuanLyAnhVideo where 
ID= @ID
GO
/****** Object:  StoredProcedure [bodoi304].[QuanLyViDeo_SelectAll]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [bodoi304].[QuanLyViDeo_SelectAll]
as
select * from QuanLyAnhVideo where LOAI_VIDEO=1 order by [THU_TU_UU_TIEN] ASC
GO
/****** Object:  StoredProcedure [bodoi304].[QuanLyViDeo_SelectAll_QL]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [bodoi304].[QuanLyViDeo_SelectAll_QL]
as
select * from QuanLyAnhVideo order by ID DESC
GO
/****** Object:  StoredProcedure [bodoi304].[QuanLyViDeo_SelectByCanHo]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [bodoi304].[QuanLyViDeo_SelectByCanHo]
@LOAI_IMAGE smallint
as
select * from QuanLyAnhVideo where LOAI_IMAGE = @LOAI_IMAGE order by [THU_TU_UU_TIEN] ASC 
GO
/****** Object:  StoredProcedure [bodoi304].[QuanLyViDeo_SelectByDiaDiem]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [bodoi304].[QuanLyViDeo_SelectByDiaDiem]
@DIA_DIEM smallint
as
select * from QuanLyAnhVideo where DIA_DIEM = @DIA_DIEM order by [THU_TU_UU_TIEN] ASC 
GO
/****** Object:  StoredProcedure [bodoi304].[QuanLyViDeo_SelectByLoaiVideo]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [bodoi304].[QuanLyViDeo_SelectByLoaiVideo]
@Loai_video int
as
select * from QuanLyAnhVideo where LOAI_VIDEO = @Loai_video order by [THU_TU_UU_TIEN] ASC 
GO
/****** Object:  StoredProcedure [bodoi304].[QuanLyViDeo_SelectID]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [bodoi304].[QuanLyViDeo_SelectID]
@ID bigint
as
select * from QuanLyAnhVideo where ID=@ID
GO
/****** Object:  StoredProcedure [bodoi304].[QuanLyViDeo_SelectIsAnhVideo]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [bodoi304].[QuanLyViDeo_SelectIsAnhVideo]
@isAnhVideo smallint
as
select * from QuanLyAnhVideo where [IS_IMAGE_VIDEO] = @isAnhVideo 
GO
/****** Object:  StoredProcedure [bodoi304].[select_item_checkin_out]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [bodoi304].[select_item_checkin_out]
@check date,
@NhaNao int
as
select * from Lich_Dat_Phong where (check_in <= @check and  @check < check_out )
and Nha_Nao = @NhaNao

GO
/****** Object:  StoredProcedure [bodoi304].[select_item_checkin_out_exact]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [bodoi304].[select_item_checkin_out_exact]
@checkin date,
@checkout date,
@NhaNao int
as
select * from Lich_Dat_Phong where 
check_in >= @checkin and check_out <= @checkout 
and Nha_Nao = @NhaNao



GO
/****** Object:  StoredProcedure [bodoi304].[select_item_checkin_out_exact_byPageIndex]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [bodoi304].[select_item_checkin_out_exact_byPageIndex]
@checkin date,
@checkout date,
@NhaNao int,
@PageIndex int,
@PageSize int
as
select * from (select ROW_NUMBER() OVER
            (
                  ORDER BY Check_IN ASC
            )AS RowNumber, Lich_Dat_Phong.* from Lich_Dat_Phong where check_in >= @checkin and check_out <= @checkout 
and Nha_Nao = @NhaNao ) as a where (RowNumber BETWEEN(@PageIndex -1) * @PageSize + 1 AND(((@PageIndex -1) * @PageSize + 1) + @PageSize) - 1)
 




GO
/****** Object:  StoredProcedure [bodoi304].[select_item_Id]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [bodoi304].[select_item_Id]
@ID bigint
as
select * from Lich_Dat_Phong where  ID = @ID

GO
/****** Object:  StoredProcedure [bodoi304].[select_item_ngaytao_exact]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [bodoi304].[select_item_ngaytao_exact]
@ngaytao_tu date,
@ngaytao_den date,
@NhaNao int
as
select * from Lich_Dat_Phong where 
NGAY_TAO >= @ngaytao_tu and NGAY_TAO < @ngaytao_den 
and Nha_Nao = @NhaNao



GO
/****** Object:  StoredProcedure [bodoi304].[select_item_Sdt]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [bodoi304].[select_item_Sdt]
@sodienthoai varchar(15),
@NhaNao int
as
select * from Lich_Dat_Phong where 
 So_dien_thoai like '%' + @sodienthoai + '%'
and Nha_Nao = @NhaNao
GO
/****** Object:  StoredProcedure [bodoi304].[select_list_trangthai]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [bodoi304].[select_list_trangthai]
@TrangThai int,
@NhaNao int
as
select * from Lich_Dat_Phong where  TrangThai = @TrangThai  and Nha_nao=@NhaNao

GO
/****** Object:  StoredProcedure [bodoi304].[update_lich_dat_phong]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [bodoi304].[update_lich_dat_phong]
@ID bigint,
@Ten_Khach_Hang nvarchar(60),
@checkin date,
@checkout date,
@So_Dien_Thoai varchar (15),
@Ngay_Sinh_Nhat date,
@Tong_tien_phong decimal(18,2),
@Tien_chuyen_khoan  decimal(18,2),
@Tien_Con_Phai_Tra  decimal(18,2),
@So_Phong_Dat nvarchar(70),
@nguoi_nhap nvarchar(15),
@TrangThai int,
@Trang_Thai_CK varchar(10),
@Nha_Nao int,
@Ghi_chu nvarchar(2000),
@Trang_Thai_Dat int
as
update Lich_Dat_Phong set  check_in = @checkin , check_out= @checkout,
Ten_Khach_Hang = @Ten_Khach_Hang,
So_Dien_Thoai = @So_Dien_Thoai,
Ngay_Sinh_Nhat = @Ngay_Sinh_Nhat,
Tong_tien_phong = @Tong_tien_phong,
Tien_chuyen_khoan = @Tien_chuyen_khoan,
Tien_Con_Phai_Tra = @Tien_Con_Phai_Tra,
So_Phong_Dat=@So_Phong_Dat,
nguoi_nhap =@nguoi_nhap,
TrangThai=@TrangThai,Trang_Thai_CK=@Trang_Thai_CK,Nha_Nao=@Nha_Nao,Ghi_chu=@Ghi_chu,Trang_Thai_Dat=@Trang_Thai_Dat
where ID= @ID





GO
/****** Object:  StoredProcedure [bodoi304].[update_QuanlyAnhVideo]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [bodoi304].[update_QuanlyAnhVideo]
@ID bigint,
 @IS_IMAGE_VIDEO smallint,
           @QUOTE nvarchar(500),
           @NAME nvarchar(500),
           @DURATION_VIDEO varchar(20),
           @DIA_DIEM smallint,
           @LOAI_VIDEO smallint,
           @LOAI_IMAGE smallint,
           @THU_TU_UU_TIEN bigint,
		   @ICON_VIDEO_IMAGE varchar(100)
as
UPDATE QuanLyAnhVideo
   SET 
      [QUOTE] = @QUOTE
      ,[NAME] = @NAME
	  ,[IS_IMAGE_VIDEO] = @IS_IMAGE_VIDEO
      ,[DURATION_VIDEO] = @DURATION_VIDEO
      ,[DIA_DIEM] = @DIA_DIEM
      ,[LOAI_VIDEO] = @LOAI_VIDEO
      ,[LOAI_IMAGE] = @LOAI_IMAGE
      ,[THU_TU_UU_TIEN] = @THU_TU_UU_TIEN
    ,ICON_VIDEO_IMAGE= @ICON_VIDEO_IMAGE
 WHERE ID = @ID;


GO
/****** Object:  StoredProcedure [bodoi304].[Users_SelectUsersNoRole]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [bodoi304].[Users_SelectUsersNoRole]
@IDRole int
as
select  Id,Id_login,UserId from Users left join ApplicationUserRoles 
on ApplicationUserRoles.RoleId  =@IDRole and Users.Id = ApplicationUserRoles.UserId  where  ApplicationUserRoles.UserId is null



GO
/****** Object:  StoredProcedure [bodoi304].[Video_Insertitem]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [bodoi304].[Video_Insertitem]
 @Video_URL varchar(200),
 @ID_Video bigint

as
insert Video  (ID_VIDEO,VIDEO_URL,NGAY_TAO) values (@ID_Video,@Video_URL,getdate()) 
GO
/****** Object:  StoredProcedure [bodoi304].[Video_Selectitem]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [bodoi304].[Video_Selectitem]
 @ID_VIDEO bigint
as
select * from Video where ID_VIDEO=@ID_VIDEO
GO
/****** Object:  StoredProcedure [bodoi304].[Video_Updateitem]    Script Date: 12/14/2018 7:27:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [bodoi304].[Video_Updateitem]
 @ID_VIDEO bigint,
 @Video_URL varchar(200)
as
update Video set VIDEO_URL=@Video_URL where ID_VIDEO=@ID_VIDEO
GO
USE [master]
GO
